.wrap {width: 100%;}

.global_menu{width: 100%;}
.global_menu ul { width: 100%;margin-right: 20px;}


nav {width: 100%;}


header {width: 100%;}

.inner {width: 100%;}

.gnb{
    display: flex;
    gap: 50px;
    font-size: 16px;
    width: 100%;
    padding: 0 20px 0 0;
    justify-content: flex-end;
}

.sec01 {width: 100%;}
.cont_box {width: 100%;}

.footer_inner {
    width: 100%;
    padding: 20px;}
    
.footer {width: 100%;}

.sec02{width: 100%;}
.sec04{width: 100%;}
.cont_box {gap:30px;}
.global_menu ul {padding: 0 20px 0 0;}
.nav .logo img {margin-left: 20px;}